@import "../../core/styles/main";

.shipment-list-container{
  padding: 30px 45px 80px 45px;
  min-width: 1000px;
  .filter-container{
    margin-top: 5px;
    display: flex;
    align-items: center;
  }
  .buttons-container {
    display: flex;
    justify-content: center;
  }
}
