@import '../../../../core/styles/variables.scss';

.button-wrpr {
  display: inline-block;
  text-align: center;
}

.button-accent {
  border-radius: 50%;
  position: relative;
  box-shadow: 0px 0px 4px 2px #eaecee;
  transition: .3s;
  cursor: pointer;

  &:hover {
    box-shadow: 0px 0px 12px 7px #eaecee;
  }

  &:disabled {
    cursor: not-allowed;
  }

  &.primary {
    color: $color-shade-2;
    background: $color-white-plain;
    border-color: $color-white-plain;
  }

  &.accent {
    background: $color-shade-1;
  }

  .icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 28px;
  }

}

label {
  font-size: 18px;
  font-weight: 500;
  display: block;
  text-align: center;
  margin-top: 25px;
}
