@import '../../../../core/styles/variables.scss';

.btn-solid {
  padding: 0 10px;
  box-shadow: 0px 0px 4px 2px $background-primary;
  color: $font-color-accent-bright;
  background: $font-color-accent-dark;
  border-color: $color-white-plain;
  cursor: pointer;
  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
}
