@import "../../../core/styles/variables";
#simple-table{
  border-collapse: collapse;
  width: 100%;
  margin: 10px 0;
}
#simple-table td, #simple-table th {
  border: 1px solid #ddd;
  padding: 8px 8px ;
}

#simple-table td {
  max-width: 150px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
#simple-table tr:nth-child(even){background-color: $color-white-plain;}

#simple-table tr:hover {background-color: $color-shade-1-light;}

#simple-table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4CAF50;
  color: white;
}
