@import '../../../core/styles/variables';

.tag {
  //margin: 0 20px;
  display: flex;
  align-items: center;
  .tag-text {
    font-weight: normal;
    font-size: 14px;
    color: $font-color-accent-bright;
    border-radius: 8px;
    padding: 5px 8px;
    height: fit-content;
    background: $color-shade-4;
  }
  .tag-label {
    font-size: 16px;
    font-weight: 500;
    color: $font-color-accent-dark;
    margin: 10px;
  }
}
