@import "../../../core/styles/variables";
.page-header {
  z-index: 500;
  background: $color-shade-1;
  display: flex;
  width: 100%;
  height: $header-height;
  position: fixed;
  top: 0;
  left: 0;
}

.hdr-content {
  padding: 0px 40px;
  display: flex;
  align-items: center;
}

.hdr-content {
  .title {
    color: $color-white-plain;
    font-size: 2em;
  }
}

.section-1 {
  flex: 1;
  display: flex;
}

.section-1 {
  justify-content: flex-start;
}
