@import "./variables";
*{
  box-sizing: border-box;
}

body {
  // sanitizing body
  padding: 0;
  margin: 0;
  overflow: initial;
  height: auto;
  background: $background-primary;
  color: $font-color-primary;
  font-family: 'Helvetica', sans-serif;
  font-size: 14px;
}

a:link {
  text-decoration: none !important;
}

button{
  cursor: pointer;
  outline: none;
  &:focus, &:hover, &:active{
    outline: none;
  }
  border: none;
}

.container {
  min-width: 670px;
  margin: auto;
}
::placeholder {
  opacity: 0.6;
  font-size: inherit;
}
