@import "../../core/styles/main";
.shipment-detail-container{
  padding: 30px 45px 80px 45px;
  min-width: 1000px;

  .loader-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50px,-50px);
  }
  .update-field{
    display: flex;
    align-items: center;
    .override{
      padding: 0 10px;
      width: 250px;
    }
  }
}
